h1 = result

p Denna fandom hetter #{result["Name"]}.
p Den kan också förkortas med #{result["Short_name"]} om du tycker #{result["Name"]} är för långt.
p Denna fandom baseras på denna författaren #{result2["Author"]} verk.